<ngt-soba-text
  *ngIf="showYear"
  [position]="[consts.xStart - 0.5, consts.yStart + 0.1, posZ]"
  [text]="artwork.date + ''"
  color="white"
  fontSize="0.2"
  textAlign="right"
></ngt-soba-text>

<ngt-mesh
  [position]="positionVector"
  (pointerenter)="artworkGrowFactor = 2"
  (pointerleave)="artworkGrowFactor = 1"
>
  <ngt-plane-geometry
    [args]="[
      (artwork.width / 100) * artworkGrowFactor,
      (artwork.height / 100) * artworkGrowFactor
    ]"
  ></ngt-plane-geometry>
  <ngt-mesh-standard-material
    [side]="side"
    [map]="texture$ | async"
  ></ngt-mesh-standard-material>
</ngt-mesh>

<ngt-soba-text
  *ngIf="showInfo"
  [position]="[artwork.width / 100 + 1.5, artwork.height / 100 / 2 - 1, posZ]"
  [text]="artworkInfo"
  color="white"
  fontSize="0.1"
  textAlign="left"
></ngt-soba-text>
