<ngt-soba-text
  *ngIf="showYear"
  [position]="[consts.xStart - 0.5, consts.yStart + 0.1, posZ]"
  [text]="artwork.date + ''"
  color="white"
  fontSize="0.2"
  textAlign="right"
></ngt-soba-text>

<ngt-mesh
  [position]="positionVector"
  (pointerenter)="onPointerEnter()"
  (pointerleave)="onPointerLeave()"
  (pointerdown)="pickArtwork()"
>
  <ngt-plane-geometry
    [args]="[
      (artwork.width / 100) * artworkGrowFactor,
      (artwork.height / 100) * artworkGrowFactor
    ]"
  ></ngt-plane-geometry>
  <ngt-mesh-standard-material
    [side]="side"
    [map]="texture$ | async"
  ></ngt-mesh-standard-material>
</ngt-mesh>
