<div class="w-100 h-100 p-3 bg-white rounded-3 overflow-auto">
  <div class="d-flex justify-content-between">
    <h2 class="fs-4">{{ artwork?.title }}</h2>
    <div class="pt-1 ps-2">
      <i class="iconBtn bi bi-x-lg" (click)="onClose()"></i>
    </div>
  </div>
  <p>Datierung: {{ artwork?.date }}</p>
  <p>Künstler*in: {{ artwork?.artist }}</p>
  <p>Art des Werks: {{ artwork?.category }}</p>
  <p>Besitzer*in: {{ artwork?.owner }}</p>

  <p>
    <a
      class="btn btn-outline-primary w-100"
      [href]="consts.cdaBaseUrl + artwork?.inventoryNumber"
      target="_blank"
      >Weitere Informationen</a
    >
  </p>

  <div *ngIf="partOfWork[0]">
    <div class="d-flex justify-content-between">
      <h3 class="fs-5">In gleicher Werkgruppe</h3>
      <div class="ps-2">
        <i
          class="iconBtn bi"
          [ngClass]="{
            'bi-eye': !highlightedArtworks[0],
            'bi-eye-slash': highlightedArtworks[0]
          }"
          (click)="
            highlightedArtworks[0]
              ? removeHighlights()
              : addHighlights(partOfWork)
          "
        ></i>
      </div>
    </div>

    <div class="relationContainer w-100 d-flex">
      <div *ngFor="let pow of partOfWork" class="relationPreviewWrapper me-2">
        <img
          class="relationPreview rounded-3"
          [src]="pow.preview"
          [alt]="pow.title"
        />
        <div
          class="relationPreviewActions justify-content-around align-items-center rounded-3"
        >
          <i
            class="iconBtn bi bi-bullseye"
            (click)="navigateToArtwork(pow)"
          ></i>
          <a [href]="consts.cdaBaseUrl + pow.inventoryNumber" target="_blank"
            ><i class="iconBtn bi bi-info-circle"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="belongsTo[0]">
    <div class="d-flex justify-content-between">
      <h3 class="fs-5">Zugehörige Werke</h3>
      <div class="ps-2">
        <i
          class="iconBtn bi"
          [ngClass]="{
            'bi-eye': !highlightedArtworks[0],
            'bi-eye-slash': highlightedArtworks[0]
          }"
          (click)="
            highlightedArtworks[0]
              ? removeHighlights()
              : addHighlights(belongsTo)
          "
        ></i>
      </div>
    </div>

    <div class="relationContainer w-100 d-flex">
      <div *ngFor="let bt of belongsTo" class="relationPreviewWrapper me-2">
        <img
          class="relationPreview rounded-3"
          [src]="bt.preview"
          [alt]="bt.title"
        />
        <div
          class="relationPreviewActions justify-content-around align-items-center rounded-3"
        >
          <i class="iconBtn bi bi-bullseye" (click)="navigateToArtwork(bt)"></i>
          <a [href]="consts.cdaBaseUrl + bt.inventoryNumber" target="_blank"
            ><i class="iconBtn bi bi-info-circle"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="similarToOrRelatedInContentTo[0]">
    <div class="d-flex justify-content-between">
      <h3 class="fs-5">Ähnliche Werke</h3>
      <div class="ps-2">
        <i
          class="iconBtn bi"
          [ngClass]="{
            'bi-eye': !highlightedArtworks[0],
            'bi-eye-slash': highlightedArtworks[0]
          }"
          (click)="
            highlightedArtworks[0]
              ? removeHighlights()
              : addHighlights(partOfWork)
          "
        ></i>
      </div>
    </div>

    <div class="relationContainer w-100 d-flex">
      <div
        *ngFor="let storict of similarToOrRelatedInContentTo"
        class="relationPreviewWrapper me-2"
      >
        <img
          class="relationPreview rounded-3"
          [src]="storict.preview"
          [alt]="storict.title"
        />
        <div
          class="relationPreviewActions justify-content-around align-items-center rounded-3"
        >
          <i
            class="iconBtn bi bi-bullseye"
            (click)="navigateToArtwork(storict)"
          ></i>
          <a
            [href]="consts.cdaBaseUrl + storict.inventoryNumber"
            target="_blank"
            ><i class="iconBtn bi bi-info-circle"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
