<div class="flex-grow-1 d-flex flex-column header-space">
  <ngt-canvas
    *ngIf="canvasEnabled; else loading"
    class="flex-grow-1"
    [camera]="{ position: cameraPosition }"
    [lookAt]="[0, 0, -1000]"
  >
    <ngt-color attach="background" color="#666"></ngt-color>

    <ngt-ambient-light [intensity]="0.5"></ngt-ambient-light>

    <ngt-mesh
      [position]="[
        consts.xStart,
        consts.yStart,
        (artworks.length * consts.artworkDistance +
          consts.additionalTimelineLength / 2) /
          -2
      ]"
    >
      <ngt-box-geometry
        [args]="[
          0.01,
          0.01,
          artworks.length * consts.artworkDistance +
            consts.additionalTimelineLength
        ]"
      ></ngt-box-geometry>
      <ngt-mesh-standard-material></ngt-mesh-standard-material>
    </ngt-mesh>

    <ngt-mesh
      *ngIf="highlightMode"
      [position]="[
        consts.xStart + this.consts.highlightDistance,
        consts.yStart,
        (artworks.length * consts.artworkDistance +
          consts.additionalTimelineLength / 2) /
          -2
      ]"
    >
      <ngt-box-geometry
        [args]="[
          0.01,
          0.01,
          artworks.length * consts.artworkDistance +
            consts.additionalTimelineLength
        ]"
      ></ngt-box-geometry>
      <ngt-mesh-standard-material color="#fc0"></ngt-mesh-standard-material>
    </ngt-mesh>

    <ng-container *ngFor="let artwork of artworks; let i = index">
      <app-masterpiece
        [artwork]="artwork"
        [posZ]="-i * consts.artworkDistance"
        [showYear]="i === 0 ? true : artwork.date > artworks[i - 1].date"
      ></app-masterpiece>
    </ng-container>

    <ngt-soba-first-person-controls
      [activeLook]="false"
      [movementSpeed]="20"
    ></ngt-soba-first-person-controls>
  </ngt-canvas>

  <ng-template #loading>
    <div class="flex-grow-1 d-flex justify-content-center align-items-center">
      <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>

  <app-masterpiece-details
    *ngIf="artworkPicked"
    class="details"
  ></app-masterpiece-details>

  <div class="actionBtns d-flex">
    <i class="iconBtn bi bi-question-circle me-3" (click)="help = true"></i>
    <i class="iconBtn bi bi-search me-3" (click)="search = true"></i>
  </div>

  <app-help *ngIf="help" id="helpBox" (close)="help = false"></app-help>
  <app-search
    *ngIf="search"
    id="searchBox"
    (close)="search = false"
  ></app-search>
</div>
