<div class="flex-grow-1 d-flex flex-column header-space">
  <ngt-canvas class="flex-grow-1">
    <ngt-color attach="background" color="#666"></ngt-color>

    <ngt-ambient-light [intensity]="0.5"></ngt-ambient-light>

    <ngt-mesh
      [position]="[
        consts.xStart,
        consts.yStart,
        (artworks.length * consts.artworkDistance + 10) / -2
      ]"
    >
      <ngt-box-geometry
        [args]="[0.01, 0.01, artworks.length * consts.artworkDistance + 20]"
      ></ngt-box-geometry>
      <ngt-mesh-standard-material></ngt-mesh-standard-material>
    </ngt-mesh>

    <ng-container *ngFor="let artwork of artworks; let i = index">
      <app-masterpiece
        [artwork]="artwork"
        [posZ]="-i * consts.artworkDistance"
        [showYear]="i === 0 ? true : artwork.date > artworks[i - 1].date"
        [artworkPicked]="pickedArtwork === artwork"
        (onArtworkPicked)="pickedArtwork = artwork"
      ></app-masterpiece>
    </ng-container>

    <ngt-soba-first-person-controls
      [activeLook]="false"
      [movementSpeed]="20"
    ></ngt-soba-first-person-controls>
  </ngt-canvas>

  <app-masterpiece-details
    *ngIf="pickedArtwork"
    class="details"
    [artwork]="pickedArtwork"
    [artworks]="artworks"
    (close)="pickedArtwork = undefined"
  ></app-masterpiece-details>
</div>
